section.mail-header {
    display: flex;
    align-items: center;

    padding: 8px;
    padding-right: 16px;

    background-color: var(--mail-color-2);
    grid-column: 1 / -1;
    min-height: 64px;
}

section.mail-header .logo-menu-container {
    cursor: pointer;
    min-width: 238px;
    display: flex;
    align-items: center;

    justify-content: start;
    padding-right: 30px;
}

section.mail-header .logo-menu-container img {
    width: 109px;
    height: 40px;
}

section.mail-header .logo-menu-container svg {
    width: 24px;
    height: 24px;
    fill: #5f6368;
}

section.mail-header .logo-menu-container .ham-menu-container {
    cursor: pointer;
    padding: 12px;
    margin: 4px;
    
    max-width: 48px;
    border-radius: 50%;    
}

section.mail-header .logo-menu-container .ham-menu-container:hover {
    background-color: rgba(60, 64, 67, .1);
}