.mail-filter-search {
    width: 100%;
    padding-left: 10px
}

.mail-filter-search .search-form {
    display: flex;
    flex-grow: 1;

    position: relative;

    min-width: 300px;
    max-width: 720px;
    min-height: 48px;
    margin-block: 8px;
}

.mail-filter-search .search-input {
    flex-grow: 1;
    min-height: 48px;
    min-width: 300px;
    max-width: 100%;

    line-height: 1.6875rem;
    font-size: 1rem; 
    color: #000000; 
    background-color: #eaf1fb;

    padding: 0 44px;
    border-radius: 24px; 

    outline: none;
    transition: background-color 0.3s ease; 
}

.mail-filter-search .search-input:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.mail-filter-search .search-input::placeholder {
    color: #5e5e5e; 
}

.mail-filter-search .search-input:focus {
    background-color: white;
}

.mail-filter-search .search-btn {
    position: absolute;
    left: 0; 
    top: 50%;
    
    background: inherit;
    padding: 6px;

    transform: translateY(-50%);
}

.search-btn span.materials {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 36px;
    width: 36px; 

    font-size: 24px;
    color: #1f1f1f;
    border-radius: 50%;
}

.search-btn span.materials:hover {
    background-color: #dde3ec;
}

.mail-filter-search .clear-btn {
    position: absolute;
    right: 0; 
    top: 50%;
    transform: translateY(-50%);
    
    background: inherit;
    padding: 6px;
}

.clear-btn span.materials {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 36px;
    width: 36px;

    font-size: 24px;
    color: #1f1f1f;
    border-radius: 50%;
}

.clear-btn span.materials:hover {
    background-color: #dde3ec;
}

/* horrendous attempts */
@media (max-width: 565px) {
    .mail-filter-search .search-form {

        max-width: cacl(100vw - 16px);
    }

    .mail-filter-search {
        max-width: cacl(100vw - 16px);

    
    }

    .mail-filter-search .search-input {
        max-width: cacl(100vw - 16px);
    }
}