.mail-index {
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-template-rows: 1fr 1fr;

    font-family: var(--mail-font1);
    background-color: var(--mail-color1);

    font-size: 14px;
    /* max-height: 100%;  */
}

.materials {
    font-family: 'Material Symbols Outlined';
}

