/* Working attempt that requires a better solution in futue to fix a randomly occuring glitch 
if the user clicks on the furthest right pixels of the screen sometimes vertical and horizonal scroll appears */ 
html > *:not(.mail-index, .notes-section) {
    overflow: hidden;
}

section.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main.app-content {
    flex-grow: 1; 
    overflow-y: auto; 
}