
.app-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    
    padding: 1em;
    background-color: var(--mail-color1);
    
    max-height: 56px;    
}

.app-header .logo {
    font-family: GoogleSans-Bold;
    font-size: 1.3rem;
    font-weight: lighter;
    
    padding-inline-start: 0.5em;
    
    color: var(--logo-clr-blue);
}

.app-header nav a {
    font-family: GoogleSans-Med;
    color: #5F6267;
    
    padding: 0.4em 0.6em;
}

.app-header nav a:hover {
    background-color: var(--mail-gray3);
    border-radius: 20px;    
}

.app-header nav a.active {
    color: var(--logo-clr-blue);
}


